@media (max-width: 1200px){
   .about{
      padding: 75px 0;
   }
   .about__inner{
      display: block;
   }
   .about__title{
      margin-bottom: 50px;
   }
   .about__text p{
      max-width: 100%;
   }
}

@media (max-width: 768px){
   .menu__list{
      display: none;
   }
   .header__top-inner{
      align-items: center;
   }
   .menu-btn{
      display: block;
      background-color: transparent;
      border: none;
      padding: 0;
      margin-top: 35px;
   }
   .menu__list.menu__list--active{
      transform: translateY(0%);
   }
   ul.menu__list{
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 90px;
      background-color: $bg;
      text-align: center;
      transform: translateY(-200%);
      transition: all .5s ease;
   }
   .menu__lisk-link {
    padding: 15px 0;
   }
   .menu__list-item{
      margin-left: 0;
   }
   .header__title{
      margin-bottom: 10px;
      line-height: 65px;
      font-size: 50px;
   }
   .header__subtitle{
      font-size: 15px;
      line-height: 16px;
   }
   .title{
      font-size: 48px;
      line-height: 60px;
   }
}

@media (max-width: 440px){
   .header__title{
    line-height: 50px;
    font-size: 40px;
   }
   .header__subtitle{
      font-size: 14px;
      line-height: 14px;
   }
   .about__title,
   .title{
      font-size: 28px;
      line-height: 42px;
   }
}